.section {
   padding: 200px 100px 100px;
   position: relative;
   top: -220px;
   max-width: 1440px;
   margin: auto;
}

@media (max-width: 1024px) {

   .section {
      padding: 100px 80px 80px;
   }
}

@media (max-width: 768px) {

   .section {
      padding: 90px 70px 70px;
   }
}

@media (max-width: 600px) {

   .section {
      padding: 80px 50px 50px;
   }
}

@media (max-width: 500px) {

   .section {
      padding: 50px 0;
   }

}