.header {
   margin: 0 18px;
}

@media (min-width: 768px) and (max-width: 800px) {

   .header {
      margin: 0 5px;
   }
}

@media (max-width: 520px) {

   .header {
      margin: 0;
   }
}

@media (max-width: 320px) {

   .header {
      margin: 0;
   }
}