a {
   text-decoration: none;
   color: #ffffff;
   box-sizing: border-box;
   font-family: "Gotham Pro", sans-serif;
   transition: color 0.5s ease;
}

a:hover {
   color: #E6129E;
}

li a {
   transition: color 0.5s ease;
}